@import "../css/kube.css";
@import "mixins.less";
@import "navigation.less";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fast.fonts.net/cssapi/c42476ce-370b-4f89-b5c2-47ab71de7f47.css); //AVENIR FONT

/*---------------------------------------------------------------------------- 
Variables! (Keep all of them here /w description)
-----------------------------------------------------------------------------*/
@new-color: #eee; //test color
@primary: #2e3044; // primary color (Header/Footer)
@menu-breakpoint: 800px; //Breakpoint for when the Menu Button shows on mobile
@menu-font-color: #fafafa; // menu font color...
@container-width: 1140px; //width of the secondary container
@images: "../images"; // default images
@hover-font-color: #E97C13; // hover font color...

/*---------------------------------------------------------------------------- 
Mixins
-----------------------------------------------------------------------------*/

.coverBG(@bgurl) { 
	background-image:url('../images/@{bgurl}');
	background-size:cover;
	background-position:center;
}

.three-blocks(@color){ //MIXIN FOR THE 3 MAIN BLOCKS ON THE HOMEPAGE (PERSONAL/CUSTOMIZED/LIFE)
	background-color:#fff;
	min-height:510px;
	text-align:center;
	position:relative;

	h3{
		color:@color;
		font-weight:400;
		font-size:1.5em;
		padding-top:20px;
	}

	img{
		padding-top:20px;
	}

	.color-block{
		background-color:@color;
		box-sizing:border-box;
		padding:20px;
		margin-top:30px;
		width:100%;
		min-height:260px;
		p{color:#fff;}
	}

	.hover-color {
	opacity: 0.0;
	background: @color;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	}

	.read-more{	
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 200px;
	top:35%;
	z-index: 5;
	h1{color:#fff; font-size:1.7em;}
	}

	@media screen and(min-width:768px) and (max-width:973px){
		min-height:645px;

		.color-block{min-height:400px;}
	}

	@media screen and(min-width:768px) and (max-width:835px){
		h3{font-size:1.3em;}
	}
}

.headerMix(@height){ /*MIXIN FOR THE HEADER*/
	width:100%;
	min-height:@height;
	.coverBG('header-fish.jpg');

	h1,h2,h3,h4,h5,h6,p,a{
	color:#fff;
	}

	h1{line-height:1.2em;}
	p a{
	font-weight:500;
	border-bottom:2px #fff solid;
	}
}

/*---------------------------------------------------------------------------- 
Header Styles
-----------------------------------------------------------------------------*/
header.home{
	.headerMix(603px);
	.units-container{padding:15px;}
}

header.side{
	.headerMix(300px);
}

a{
	text-decoration:none;
}

a:hover{
	color:@hover-font-color;
}

.units-container{
	width:@container-width;
	margin: 0 auto;
}

figure.logo{
	float:left;
	padding:15px 15px 15px 0;
}

/*---------------------------------------------------------------------------- 
Home Styles
-----------------------------------------------------------------------------*/

@com-padding: 40px; //Padding for top/bottom on the Commercial Insurance block

.white-block{
	background-color:#fff;
}

.com-ins{
	.coverBG('com-ins.jpg');
	text-align:center;
	padding: @com-padding 0 @com-padding 0;
	h1{
		color:#fff;
	}
}

.com-ins-type{
	padding:30px @com-padding 0 @com-padding;
	h4{
	color:#898989;
	text-align:center;
	text-transform:uppercase;
	}

	p{
	color:#111;
	text-align:center;
	}

	a{
	color:#4c87d8;
	border-bottom:2px #4c87d8 solid;
	}
}

.learn-line{
	width:70px;
	margin:0 auto;
	height:6px;
	background-color:#fff;
	margin-bottom:10px;
	margin-top:10px;
}
.personal{
	.three-blocks(#d95448);
}

.customized{
	.three-blocks(#248f79);
}

.life{
	.three-blocks(#b548d9);
}

/*---------------------------------------------------------------------------- 
Footer Styles
-----------------------------------------------------------------------------*/

#footer{
	background-color:@primary;
	width:100%;
	height:auto;

	h1,h2,h3,h4,h5,h6,p{
		color:#fff;
	}
	
	a{color:#4c97ff;}
	p{font-size:.8em;}

	.units-container{
		padding:40px 20px 20px 20px;
	}

	h5{
		border-bottom:1px #fff solid;
		margin-bottom:16px;
	}
}

.copyright{
	a:first-child{margin-left:16px;}
}

.footer-menu{
	margin:0 0 0 0 !important;
	padding-bottom:16px;
	li{
		float:none;
		font-size:.8em;
		margin-bottom:0;
		margin-left:0;
		border-bottom:1px #6c6f84 solid;
	}

	li:last-child{
		border-bottom:0;
	}
}
li.footer-contact {
	margin-bottom: 0;
}
.footer-social {
	a {
		display: inline-block;
		font-size: 20px;
		padding-right: 15px;
	}
}

/*---------------------------------------------------------------------------- 
Side Page / Blog Styles
-----------------------------------------------------------------------------*/

.blog{margin-top:15px;}
.read-more { margin-top: -20px; margin-bottom: 20px; display: block; }
.alignleft { float: left; padding: 0 20px 5px 0; }
.alignright { float: right; padding: 0 0 5px 20px; }

.no-margin{margin-bottom:0;}

.event{
	margin-top:20px;
	margin-bottom:20px;
	border-bottom:1px solid #aaa;
}

/* =Selection
-----------------------------------------------------------------------------*/
.selection(255,255,158);


/* =Layout
-----------------------------------------------------------------------------*/
body {
	background-color:#f2f2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Avenir W01', sans-serif;
	font-weight:800;
}

p,li,ul,ol{
	font-family:'Open Sans',sans-serif;
	font-weight:200;
	line-height:2em;
}

a{
	font-family:'Avenir W01',sans-serif;
	font-weight:800;
}

#page {
	width: 100%;
	margin: 16px auto 0 auto;
}

nav ul{list-style-type:none;}
.content-body { padding: 0 6%; }

h5{
	font-weight:100;
	text-transform:uppercase;
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: @container-width) {
    .units-container{
    	width: 100%;
    }
}

@media only screen and (max-width: 1060px){
	#menu{
		float:left;
	}

	#menu a{
		padding:0 20px;
	}
}

@media only screen and (max-width:1028px) and (min-width:768px){
	.com-ins{padding:80px 0 80px 0;}
}
