@import "../css/kube.css";

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fast.fonts.net/cssapi/c42476ce-370b-4f89-b5c2-47ab71de7f47.css);
/*---------------------------------------------------------------------------- 
Navigation
-----------------------------------------------------------------------------*/
.menu-item-has-children:after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  line-height: 88px;
  font-size: 50%;
}
#menu,
#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#menu {
  float: right;
  width: auto;
}
#menu:before,
#menu:after {
  content: "";
  display: table;
}
#menu:after {
  clear: both;
}
#menu {
  zoom: 1;
}
#menu li {
  float: left;
  position: relative;
}
#menu a {
  float: left;
  padding: 30px 20px;
  color: #fafafa;
  text-transform: uppercase;
  font-family: 'Avenir W01', sans-serif;
  font-weight: 200;
  text-decoration: none;
  font-size: .8em;
}
#menu li:hover > a {
  color: #fff;
}
*html #menu li a:hover {
  /* IE6 only */

  color: #fff;
}
#menu ul {
  margin: 20px 0 0 0;
  _margin: 0;
  /*IE6 only*/

  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 1;
  background: #444;
  transition: all 0.2s ease-in-out;
}
#menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#menu ul ul {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
  _margin: 0;
  /*IE6 only*/

  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
}
#menu ul li {
  float: none;
  display: block;
  border: 0;
  _line-height: 0;
  /*IE6 only*/

  box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
#menu ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#menu ul a {
  padding: 10px;
  width: 130px;
  _height: 10px;
  /*IE6 only*/

  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}
#menu ul a:hover {
  background-color: #3570c3;
  color: #fff;
}
#menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
}
#menu ul ul li:first-child a:after {
  left: -6px;
  top: 50%;
  margin-top: -6px;
  border-left: 0;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #3b3b3b;
}
#menu ul li:first-child a:hover:after {
  border-bottom-color: #04acec;
}
#menu ul ul li:first-child a:hover:after {
  border-right-color: #0299d3;
  border-bottom-color: transparent;
}
/* Mobile */
#menu-trigger {
  display: none;
}
@media screen and (max-width: 1060px) {
  .menu-item-has-children:after {
    line-height: 34px;
  }
  #menu ul {
    top: 30px;
  }
}
@media screen and (max-width: 800px) {
  /* nav-wrap */
  #menu-wrap {
    position: relative;
  }
  #menu-wrap * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* menu icon */
  #menu-trigger {
    display: block;
    /* show menu icon */
  
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding: 0 0 0 35px;
    color: #fafafa;
    font-weight: bold;
    float: right;
    padding-right: 30px;
    padding-top: 20px;
  }
  /* main nav */
  #menu {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1;
    background-color: #111;
    display: none;
    box-shadow: none;
  }
  #menu:after {
    content: '';
    position: absolute;
    right: 40px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #444;
  }
  #menu ul {
    position: static;
    visibility: visible;
    opacity: 1;
    margin: 0;
    background: none;
    box-shadow: none;
  }
  #menu ul ul {
    margin: 0 0 0 20px !important;
    box-shadow: none;
  }
  #menu li {
    position: static;
    display: block;
    float: none;
    border: 0;
    margin: 5px;
    box-shadow: none;
  }
  #menu ul li {
    margin-left: 20px;
    box-shadow: none;
  }
  #menu a {
    display: block;
    float: none;
    padding: 0;
    color: #999;
  }
  #menu a:hover {
    color: #3570c3;
  }
  #menu ul a {
    padding: 0;
    width: auto;
  }
  #menu ul a:hover {
    background: none;
  }
  #menu ul li:first-child a:after,
  #menu ul ul li:first-child a:after {
    border: 0;
  }
}
@media screen and (min-width: 800px) {
  #menu {
    display: block !important;
  }
}
/* iPad */
.no-transition {
  transition: none;
  opacity: 1;
  visibility: visible;
  display: none;
}
#menu li:hover > .no-transition {
  display: block;
}
/*---------------------------------------------------------------------------- 
Variables! (Keep all of them here /w description)
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------- 
Mixins
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------- 
Header Styles
-----------------------------------------------------------------------------*/
header.home {
  /*MIXIN FOR THE HEADER*/

  width: 100%;
  min-height: 603px;
  background-image: url('../images/header-fish.jpg');
  background-size: cover;
  background-position: center;
}
header.home h1,
header.home h2,
header.home h3,
header.home h4,
header.home h5,
header.home h6,
header.home p,
header.home a {
  color: #fff;
}
header.home h1 {
  line-height: 1.2em;
}
header.home p a {
  font-weight: 500;
  border-bottom: 2px #fff solid;
}
header.home .units-container {
  padding: 15px;
}
header.side {
  /*MIXIN FOR THE HEADER*/

  width: 100%;
  min-height: 300px;
  background-image: url('../images/header-fish.jpg');
  background-size: cover;
  background-position: center;
}
header.side h1,
header.side h2,
header.side h3,
header.side h4,
header.side h5,
header.side h6,
header.side p,
header.side a {
  color: #fff;
}
header.side h1 {
  line-height: 1.2em;
}
header.side p a {
  font-weight: 500;
  border-bottom: 2px #fff solid;
}
a {
  text-decoration: none;
}
a:hover {
  color: #e97c13;
}
.units-container {
  width: 1140px;
  margin: 0 auto;
}
figure.logo {
  float: left;
  padding: 15px 15px 15px 0;
}
/*---------------------------------------------------------------------------- 
Home Styles
-----------------------------------------------------------------------------*/
.white-block {
  background-color: #fff;
}
.com-ins {
  background-image: url('../images/com-ins.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0 40px 0;
}
.com-ins h1 {
  color: #fff;
}
.com-ins-type {
  padding: 30px 40px 0 40px;
}
.com-ins-type h4 {
  color: #898989;
  text-align: center;
  text-transform: uppercase;
}
.com-ins-type p {
  color: #111;
  text-align: center;
}
.com-ins-type a {
  color: #4c87d8;
  border-bottom: 2px #4c87d8 solid;
}
.learn-line {
  width: 70px;
  margin: 0 auto;
  height: 6px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.personal {
  background-color: #fff;
  min-height: 510px;
  text-align: center;
  position: relative;
}
.personal h3 {
  color: #d95448;
  font-weight: 400;
  font-size: 1.5em;
  padding-top: 20px;
}
.personal img {
  padding-top: 20px;
}
.personal .color-block {
  background-color: #d95448;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  min-height: 260px;
}
.personal .color-block p {
  color: #fff;
}
.personal .hover-color {
  opacity: 0.0;
  background: #d95448;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.personal .read-more {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 200px;
  top: 35%;
  z-index: 5;
}
.personal .read-more h1 {
  color: #fff;
  font-size: 1.7em;
}
@media screen and (min-width: 768px) and (max-width: 973px) {
  .personal {
    min-height: 645px;
  }
  .personal .color-block {
    min-height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .personal h3 {
    font-size: 1.3em;
  }
}
.customized {
  background-color: #fff;
  min-height: 510px;
  text-align: center;
  position: relative;
}
.customized h3 {
  color: #248f79;
  font-weight: 400;
  font-size: 1.5em;
  padding-top: 20px;
}
.customized img {
  padding-top: 20px;
}
.customized .color-block {
  background-color: #248f79;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  min-height: 260px;
}
.customized .color-block p {
  color: #fff;
}
.customized .hover-color {
  opacity: 0.0;
  background: #248f79;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.customized .read-more {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 200px;
  top: 35%;
  z-index: 5;
}
.customized .read-more h1 {
  color: #fff;
  font-size: 1.7em;
}
@media screen and (min-width: 768px) and (max-width: 973px) {
  .customized {
    min-height: 645px;
  }
  .customized .color-block {
    min-height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .customized h3 {
    font-size: 1.3em;
  }
}
.life {
  background-color: #fff;
  min-height: 510px;
  text-align: center;
  position: relative;
}
.life h3 {
  color: #b548d9;
  font-weight: 400;
  font-size: 1.5em;
  padding-top: 20px;
}
.life img {
  padding-top: 20px;
}
.life .color-block {
  background-color: #b548d9;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  min-height: 260px;
}
.life .color-block p {
  color: #fff;
}
.life .hover-color {
  opacity: 0.0;
  background: #b548d9;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.life .read-more {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 200px;
  top: 35%;
  z-index: 5;
}
.life .read-more h1 {
  color: #fff;
  font-size: 1.7em;
}
@media screen and (min-width: 768px) and (max-width: 973px) {
  .life {
    min-height: 645px;
  }
  .life .color-block {
    min-height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .life h3 {
    font-size: 1.3em;
  }
}
/*---------------------------------------------------------------------------- 
Footer Styles
-----------------------------------------------------------------------------*/
#footer {
  background-color: #2e3044;
  width: 100%;
  height: auto;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6,
#footer p {
  color: #fff;
}
#footer a {
  color: #4c97ff;
}
#footer p {
  font-size: .8em;
}
#footer .units-container {
  padding: 40px 20px 20px 20px;
}
#footer h5 {
  border-bottom: 1px #fff solid;
  margin-bottom: 16px;
}
.copyright a:first-child {
  margin-left: 16px;
}
.footer-menu {
  margin: 0 0 0 0 !important;
  padding-bottom: 16px;
}
.footer-menu li {
  float: none;
  font-size: .8em;
  margin-bottom: 0;
  margin-left: 0;
  border-bottom: 1px #6c6f84 solid;
}
.footer-menu li:last-child {
  border-bottom: 0;
}
li.footer-contact {
  margin-bottom: 0;
}
.footer-social a {
  display: inline-block;
  font-size: 20px;
  padding-right: 15px;
}
/*---------------------------------------------------------------------------- 
Side Page / Blog Styles
-----------------------------------------------------------------------------*/
.blog {
  margin-top: 15px;
}
.read-more {
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
}
.alignleft {
  float: left;
  padding: 0 20px 5px 0;
}
.alignright {
  float: right;
  padding: 0 0 5px 20px;
}
.no-margin {
  margin-bottom: 0;
}
.event {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
/* =Selection
-----------------------------------------------------------------------------*/
::selection {
  background: #ffff9e;
}
::-moz-selection {
  background: #ffff9e;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
/* =Layout
-----------------------------------------------------------------------------*/
body {
  background-color: #f2f2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir W01', sans-serif;
  font-weight: 800;
}
p,
li,
ul,
ol {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 2em;
}
a {
  font-family: 'Avenir W01', sans-serif;
  font-weight: 800;
}
#page {
  width: 100%;
  margin: 16px auto 0 auto;
}
nav ul {
  list-style-type: none;
}
.content-body {
  padding: 0 6%;
}
h5 {
  font-weight: 100;
  text-transform: uppercase;
}
/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1140px) {
  .units-container {
    width: 100%;
  }
}
@media only screen and (max-width: 1060px) {
  #menu {
    float: left;
  }
  #menu a {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1028px) and (min-width: 768px) {
  .com-ins {
    padding: 80px 0 80px 0;
  }
}
